
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="sidebar-menu">
    @Html.Partial("Leftmenu")
</div>
<div class="main-content">
    @Html.Partial("InforPag")
</div>