
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    string loai = ViewBag.loai;
}
<br />

<div class="row" style="margin-top:10px;">
    <div class="col-sm-3 col-md-2">
        @Html.Partial("LeftMenu");
    </div>
    <div class="col-sm-9 col-md-10 ">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7">
                        <div class="input-group">
                            <input id="noidung" class="form-control"  
                                   placeholder="Nhạp tên thuốc để tìm kiếm" type="text" />
                            <span class="input-group-btn">
                                <button id="timkiem" type="button" tootip="Tìm kiếm" class="btn btn-default" name="" 
                                        data-toggle="tooltip" title="Tìm kiếm theo tên thuốc">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-md-12" style="padding:0px !important; margin-top:6px;">
                    <div class="form-group">
                        <button type="button" class="btn btn-default" hotkey="F2" onclick="return ThemLoaiThuoc('');">
                            <i class="glyphicon glyphicon-plus"></i> Thêm mới tên thuốc
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="dsLoaiThuoc" style="width:100%; height:380px; border: 1px dotted #808080 "
                     class="slickgrid-word-wrap">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <form>
            <div class="modal bootstrap-dialog type-primary fade size-normal in" id="myModal" role="dialog" aria-labelledby="Thông tin chức vụ" data-backdrop="static" data-keyboard="false" aria-hidden="true">
                <div class="modal-dialog" style="width: 70%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Thông tin loại thuốc</h4>
                        </div>
                        <div class="modal-body">
                            <div class="container" style="max-width: 100%; height:99%;">
                                <div class="row">

                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 10px;">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3" style="font-weight:normal;  margin-top:5px;  padding:2px;">
                                                    Nhóm thuốc
                                                </label>
                                                <div class="col-md-9 col-lg-9 col-sm-9">
                                                    <select class="form-control" id="Nhom"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 10px;">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3" style="font-weight:normal;  margin-top:5px;  padding:2px;">
                                                    Tên thuốc
                                                </label>
                                                <div class="col-md-9 col-lg-9 col-sm-9">
                                                    <input class="input-md  textinput form-control" id="Ten" autofocus
                                                           placeholder="Tên loại thốc" type="text" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 10px;">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3" style="font-weight:normal;  margin-top:5px;  padding:2px;">
                                                    Đơn vị tính
                                                </label>
                                                <div class="col-md-9 col-lg-9 col-sm-9">
                                                    <select class="form-control" id="dvt"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 10px;">
                                                <label class="control-label col-sm-3 col-md-3 col-lg-3" style="font-weight:normal;  margin-top:5px;  padding:2px;">
                                                    Mô tả
                                                </label>
                                                <div class="col-md-9 col-lg-9 col-sm-9">
                                                    <textarea id="ndungykien" rows="3" style="height:50px;"
                                                              class="form-control input-sm textInput" placeholder="Thông tin ghi chú"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="dsTPThuoc" style="width:100%; height:380px; border: 1px dotted #808080 "
                                                     class="slickgrid-word-wrap">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="saveFile" class="btn btn-default"><i class="fa fa-plus  "></i>Lưu lại và thêm mới</button>
                            <button type="button" id="refesh" class="btn btn-default"><i class="glyphicon glyphicon-refresh"></i> Lưu lại và đóng</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                <i class="glyphicon glyphicon-share-alt"></i> Đóng lại
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var b_so_id = "";
    var data = {};
    var gridLoaiThuoc, gridTP;

    var columns = [
        { id: "loai", name: "Nhóm thuốc", field: "TT", width: 240 },
        { id: "Ten", name: "Tên thuốc", field: "Ten", width: 600 },
        { id: "TT", name: "Tình trạng", field: "TT", width: 150 },
        { id: "thaotac", name: "Thao tác", width: 100, formatter: editRow }
    ];

    var columnsTP = [
        { id: "loai", name: "Nhóm thuốc", field: "TT", width: 240 },
        { id: "Ten", name: "Tên thuốc", field: "Ten", width: 600 },
        { id: "TT", name: "Tình trạng", field: "TT", width: 150 },
        { id: "thaotac", name: "Thao tác", width: 100, formatter: editRow }
    ];

    $(document).ready(function () {
        try {
            Emcsoft.Msg.wait();

            var config = {
                pageSize: 13,
                paging: "node",
                emtyRow: false,
                page: {
                    maxNode: 4,
                    showInfo: true
                }
            };

            gridLoaiThuoc = new gridView("#dsLoaiThuoc", columns);
            gridLoaiThuoc.config = config;


            var config1 = {
                pageSize: 13,
                paging: "scroll",
                emtyRow: true,
                page: {
                    maxNode: 4,
                    showInfo: true
                }
            };
            gridTP = new gridView("#dsTPThuoc", columnsTP);
            gridTP.config = config1;


            LoadLOAITHUOC();
            Emcsoft.Msg.stopWait();
        } catch (e) {
            Emcsoft.Msg.stopWait();
        }
    });


    function editRow(row, cell, value, columnDef, dataContext) {
        var html = "<div onmouseover=\"this.style.cursor='pointer' \"  style='width: 99%; padding-left:3px; text-align:center;'><div class='col-sm-6 col-md-6 col-lg-6'>";
        html += " <span class='glyphicon glyphicon-remove' onclick='XoaLoaiThuoc(\"" + dataContext.Ma + "\")'><span> </div> ";
        html += " <div class='col-sm-6 col-md-6 col-lg-6'  style=\"padding-left: 5px !important; \"> ";
        html += "   <span class='fa fa-pencil-square-o  ' onclick='ThemLoaiThuoc(\"" + dataContext.Ma + "\")'><span></div ></div > ";
        return value == "" ? "" : html;
    }

    function ThemLoaiThuoc(id) {
        debugger;
        b_so_id = id;
        var item = $.grep(data, function (val, index) {
            return val.Ma == id;
        });
        if (item.length > 0) {
            $("#Ten").val(item[0].Ten);
            $("#Ten").focus();
            $("#Trangthai").prop("checked", item[0].Ghichu == "C" ? true : false);
        }
        else {
            $("#Ten").val("");
            $("#Ten").focus();
            b_so_id = "";
        }

        $("#myModal").modal('show');
        $("button[hotkey], input[hotkey]").attr("disableKey", "C");
    }

    function LoadLOAITHUOC() {
        $.getJSON("@Core.Constants.Config.GetBaseUrl()/api/Danhmuc/DM_LOAITHUOC_LKE").done(function (a_data) {
            if (CheckError(a_data)) {
                ShowError(a_data);
                return false;
            }

            data = a_data;

            gridLoaiThuoc.data = a_data;
            gridLoaiThuoc.init();

        }).fail(function (a, b) {
            Emcsoft.Msg.show("Có lỗi khi xem thông tin: Chi tiết lỗi " + a.responseJSON.Message);
        });

    }


    $("#refesh").click(function () {
        LuuChucVu("D");
    });
    function LuuChucVu(loai) {
        if ($("#Ten").val() == "") {
            Msg.Warning("Chưa nhập tên chức vụ");
            return false;
        }
        Emcsoft.Msg.wait();

        var checkBox = $("#Trangthai").prop("checked");
        if (checkBox) {
            checkBox = "C";
        }
        else checkBox = "K";
        $.post("@Core.Constants.Config.GetBaseUrl()/api/Danhmuc/DM_LOAITHUOC_NH", { Ma: b_so_id, Ten: $("#Ten").val(), Ghichu: checkBox })
            .done(function (b_kq) {
                try {
                    if (CheckError(b_kq)) {
                        ShowError(b_kq);
                        return;
                    }
                    b_so_id = b_kq.so_id;
                    binDataGrid(b_kq.dmdt);
                    Emcsoft.Msg.stopWait();

                    if (loai == "D")
                        $("#myModal").modal('hide');
                    else {
                        $("#Ten").val("");
                        b_so_id = "";
                    }
                } catch (e) {
                    Emcsoft.Msg.stopWait();
                }
            })
            .fail(function (a, b) {
                Emcsoft.Msg.show("Có lỗi khi lưu thông tin: Chi tiết lỗi " + a.responseJSON.Message);
            });
    }

    function binDataGrid(b_kq) {
        data = b_kq;
        gridLoaiThuoc.dataBin(b_kq);

        if (!Emcsoft.Common.isNullOrEmty(b_so_id)) {
            var indexRow = gridLoaiThuoc.getRowIndexFilter(["Ma"], [b_so_id], ["=="]);
            if (indexRow >= 0) {
                gridLoaiThuoc.setActiveRow(indexRow);
            }
        }
    }

    $("#saveFile").click(function () {
        LuuChucVu("M");
    });

    function XoaLoaiThuoc(so_id) {
        if (Emcsoft.Common.isNullOrEmty(so_id)) {
            Emcsoft.Msg.show("Chưa chọn chức vụ để xóa");
            return;
        }
        BootstrapDialog.confirm('Bạn có chắc chắn xóa không ?', function (result) {
            if (result) {
                var url = "@Core.Constants.Config.GetBaseUrl()/api/Danhmuc/DM_LOAITHUOC_XOA";
                $.post(url, {
                    "": so_id
                })
                    .done(function (b_kq) {
                        try {
                            Emcsoft.Msg.wait();
                            binDataGrid(b_kq);
                            Emcsoft.Msg.stopWait();
                            b_so_id = "";
                        } catch (e) {
                            Emcsoft.Msg.hide();
                        }
                    })
                    .fail(function (a, b) {
                        Emcsoft.Msg.show("Có lỗi khi xóa thông tin: Chi tiết lỗi " + a.responseJSON.Message);
                    });
            }
        });
    }
</script>
