<!DOCTYPE html>
<html>
<head>
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    @*<link href="~/Assets/css/base.css" rel="stylesheet" media="screen">*@
    @*<link href="~/Assets/cahd_skin/css/admin.css" rel="stylesheet" media="screen">*@
    <script type="text/javascript" src="~/Assets/libs/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/core/libraries/bootstrap.min.js"></script>

    <link href="~/Assets/libs/datatable/css/dataTables.bootstrap.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="~/Assets/libs/datatable/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Assets/libs/datatable/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="~/Assets/libs/datatable/js/fnAddTr.js"></script>
    <style>
    </style>
</head>
<body>
        @RenderBody()
</body>
</html>