
@Styles.Render("~/Content/dashboard.css")
@Scripts.Render("~/Scripts/highchart.js")


<div class="dashboard-canvas statistics">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="item c-green">
                <div class="detail">
                    <span class="txt">Số lượt khám</span>
                    <span class="number">0</span>
                </div>
                <div class="icon">
                    <i class="fa fa-file-o"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="item item c-yellow">
                <div class="detail">
                    <span class="txt">Khám xong</span>
                    <span class="number">0</span>
                </div>
                <div class="icon">
                    <i class="fa fa-share-square-o"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="item item c-blue">
                <div class="detail">
                    <span class="txt">Chờ khám</span>
                    <span class="number">0</span>
                </div>
                <div class="icon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="item item c-red">
                <div class="detail">
                    <span class="txt">Khám lại</span>
                    <span class="number">0</span>
                </div>
                <div class="icon">
                    <i class="fa fa-support"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dashboard-canvas">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="pull-left title">
                        Thống kê số lượng bệnh nhân    
                    </div>
                    <div class="pull-right">
                        <div class="dropdown select-dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Theo tháng
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Tháng này</a></li>
                                <li><a href="#">Năm nay</a></li>
                                <li><a href="#">Hôm nay</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div id="chart-bar" style="height:320px;"></div>
                </div>

            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="title">
                        Thống kê doanh số trung tâm   
                    </div>
                    
                    
                </div>
                <div class="panel-body">
                    <div id="chart-line" style="height:320px;"></div>
                </div>

            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $("#chart-line").highcharts({

                title: {
                    text:null
                },

                subtitle: {
                    text: null
                },
                xAxis: {
                    categories: [
                        'T1',
                        'T2',
                        'T3'
                    ],
                    crosshair: true
                },
                yAxis: {
                    title: {
                        text: null
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'center',
                    verticalAlign: 'bottom'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        }
                    }
                },

                series: [{
                    name: 'Khách hàng',
                    data: [43934, 52503, 57177]
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });
            $("#chart-bar").highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: null,
                },
                subtitle: {
                    text: null,
                },
                xAxis: {
                    categories: [
                        '2013',
                        '2014',
                        '2015',
                        '2016',
                        '2017'
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: null
                    }
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Bác sỹ nhà nước',
                    data: [49.9, 71.5, 106.4, 129.2, 144.0],
                    color:'#4995c1'

                }, {
                    name: 'Bác sỹ tư nhân',
                    data: [83.6, 78.8, 98.5, 93.4, 106.0],
                    color:'#d1d5dd'

                }]
            });
        });
        
    
</script>
