
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sidebar-menu">
    @Html.Partial("Leftmenu")
</div>
<div class="main-content ">
    <div class="row">

        <div class="col-md-7 col-xs-12 col-lg-offset-2">
            <div class="form-group">
                <label class="control-label col-md-3 col-xs-12">
                    Mật khẩu cũ
                </label>
                <div class="controls col-md-9 col-xs-12" >
                    <input class="input-md  textinput textInput form-control" id="txtOldPas"
                           placeholder="Thông tin mật khẩu cũ" type="password" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">
                    Mật khẩu mới
                </label>
                <div class="controls col-md-9">
                    <input class="input-md  textinput textInput form-control" id="txtPas"
                           placeholder="Mật khẩu mới" type="password" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-xs-12" >
                    Xác nhận
                </label>
                <div class="controls col-md-9 col-xs-12" >
                    <input class="input-md  textinput textInput form-control" id="txtRePas"
                           placeholder="Gõ lại mật khẩu mới" type="password" />
                </div>
            </div>
            <div class="form-group">
                <button type="button" id="doimatkhau" class="btn btn-default"><i class="fa fa-plus  "></i> Đổi mật khẩu</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

        $("#doimatkhau").click(function () {
            var b_mk = $("#txtOldPas").val(), b_pasmoi = $("#txtPas").val(), b_pasGolai = $("#txtRePas").val();

            if (b_mk == "") {
                Msg.warning("Phải nhật mật khẩu cũ");
                return false;
            }
            if (b_pasmoi == "") {
                Msg.warning("Phải nhật mật khẩu mới");
                return false;
            }
            if (b_pasGolai == "") {
                Msg.warning("Phải nhật xác nhận mật khẩu mới");
                return false;
            }
            if (b_pasGolai != b_pasmoi) {
                Msg.warning("Mật khẩu cũ và mật khẩu mới không khớp");
                return false;
            }
            debugger;
            var a_data = { ID: b_mk, Ten: b_pasmoi, Ma_ct: b_pasGolai } ;
            var b_url = "@Core.Constants.Config.GetBaseUrl()/api/Hethong/Doimatkhau";
            $.ajax({
                url: b_url,
                type: "POST",
                data: JSON.stringify(a_data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                global: false,
                success: function (result) {
                    waitingDialog.hide();
                    Msg.Warning("Lưu thành công");
                },
                error: function (xhr, err) {

                    waitingDialog.hide();
                    Msg.Warning(xhr.responseJSON.Message);

                }
            });

        });

</script>


